$bagroundColor: #fff;
$border_color: #e6e6e6;

.groupList {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  overflow: hidden;
  height: 300px;
  width: 280px;
  background-color: $bagroundColor;
  border: 1px solid $border_color;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  transition: all 1s;
}