$grey98: #fafafa;
$border_color: #e6e6e6;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100vw;
  background-color: $grey98;
  box-sizing: border-box;
  border: 1px solid $border_color;
  margin: 0;
  padding: 0;
  padding-left: 50px;
  padding-right: 60px;

}